<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
<title>Anime Finder</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div class="container">
    <nav class="navnav">
        <div class="nav-logo">
            <h1><a href="/">Anime</a></h1>
        </div>
        <div class="nav-link">
            <ul class="nav-link">
                <li class="link"><a href="/">Home</a></li>
                <li class="link"><a href="/search">Search</a></li>
                <li class="link"><a href="https://github.com/meilyan" target="_blank">Github</a></li>
                <li class="link login"><a href="/login">Login</a></li>
                <li class="link register"><a href="#">Sign up</a></li>
            </ul>
        </div>
    </nav>
