<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Anime Finder</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <nav class="nav-top">
        <div class="nav-logo">Anime Finder</div>
        <div class="nav-links">
            <ul class="nav-link">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">Anime</a></li>
                <li class="nav-item"><a href="#">Search</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Github</a></li>
            </ul>
        </div>
    </nav>

    <main class="main-content">
        <div class="main">
            <div class="left">
                <h1>Anime Streaming</h1>
                <p>Streaming all anime you love with one click</p>
            </div>
            <div class="right">
                <div class="login-page">
                    <form action="post" class="login">
                        <input type="text" name="Username" placeholder="Username">
                        <input type="password" name="Password" placeholder="Password">
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>