<%- include ("part/header.ejs") %>
<div class="row">
    <div class="landing-section trending">
    
        <div class="result">
          <% for (var i="0"; i < animeData.animeId.length; i++) {%>
          <div class="media-card">
            <a href="#" class="cover">
              <img src="<%= animeData.animeImg[i] %>" alt="" />
            </a>
            <a href="#" class="title"><%= animeData.animeTitle[i] %></a>
          </div>
          <% } %>
        </div>
      </div>
</div>
<%- include("part/footer.ejs") %>