<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Search</title>
</head>
<body>
    <form id="animeForm" method="post">
        <input type="text" id="animeInput" name="anime">
        <input type="submit" id="get" value="GET" formaction="/anime-search">

    </form>
    
</html>