@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {box-sizing: border-box;}
p {margin: 0; padding: 0;}
h1 {margin: 0; padding: 0;}
body {margin: 0;}
a {text-decoration: none; color: #bcbedc;}

body {
    font-family: "Poppins", sans-serif;
    background-color: #edf1f5;
}

.container {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;
    height: 80px;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.hide {
    display: none;
}

.transparant-nav {
    background: rgba(35,38,67,80%);
    color: #e5e7ea;
}

.row {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    min-height: 100px;
}

.nav-logo {
    color: #fff;
    width: 100px;
}

ul.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
    width: 1000px;
}

ul.nav-link {
    justify-content: center;
    align-items: center;
}

li.login {
    margin-left: 5rem;
}

li.register {
    background-color: #3577ff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5em;
}

li.register a {
    color: #fff;
}

li.register:hover {
    box-shadow: 1px 1px 10px #3577ff;
}

li.link:hover {
    text-shadow: 1px 1px 10px #fff;
}

.landing-section {
    margin-bottom: 50px;
}

.title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.result {
    display: grid;
    grid-template-columns: repeat(auto-fill, 175px);
    grid-gap: 33px;
}

.media-card {
    display: grid;
    grid-template-rows: min-content auto;
    position: relative;
    width: 200px;
}

.cover {
    border-radius: 4px;
    height: 265px;
    overflow: hidden;
    width: 100%;
    z-index: 5;
    
}

.cover img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: opacity .3 ease-in-out;
}

.title {
    color: rgb(116,136,153);
    font-size: 1rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    transition: color .2s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.result.table {
    grid-template-columns: 1fr;
    grid-gap: 24px;
}

.result[top-100] {
    display: grid;
    justify-content: space-between;
}

.media-card.has-rank {
    margin-left: 80px;
}

.rank {
    color: rgb(81,97,112);
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    height: 50px;
    left: -70px;
    line-height: 0;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 18px;
    width: 50px;
    z-index: 2;
}

.circle {
    align-items: center;
    border-radius: 50%;
}

.rank .hash {
    font-size: 0.8rem;
    padding-top: 4px;
}

.media-card[top-100] {
    backface-visibility: hidden;
    background-color: rgb(251,251,251);
    border-radius: 4px;
    padding: 10px;
    display: grid;
    grid-template-columns: 48px auto;
    position: relative;
    text-align: left;
    min-height: 80px;
    width: 94%;
    box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);
}

.cover[top-100] {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.cover[top-100] img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.content[top-100] {
    display: grid;
    grid-template-columns: 600px 150px 150px 150px;
    padding-left: 10px;
    align-items: center;
    grid-gap: 10px;
}

.title-wrap {
    margin-bottom: 8px;
}

.title-wrap a {
    color: rgb(81,97,112);
}

.genres {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.genre {
    display: inline-block;
    font-size: 13px;    
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 1px;
    padding: 0 10px;
    text-transform: lowercase;
}

.bg-0 { background-color: #ef5d5d; color: #fff; }
.bg-1 { background-color: #5defb2; color: #f7b52d; }
.bg-2 { background-color: #5d7aef; color: #ff6b6b; }
.bg-3 { background-color: #f7b52d; color: #5d7aef; }
.bg-4 { background-color: #ff6b6b; color: #5defb2; }
.bg-5 { background-color: #6bffa0; color: #ff6bcb; }
.bg-6 { background-color: #6b9aff; color: #ff6b7c; }
.bg-7 { background-color: #f7d02d; color: #5d7aef; }
.bg-8 { background-color: #8b6bff; color: #fff; }
.bg-9 { background-color: #6bffcc; color: #ff6b6b; }
.bg-10 { background-color: #ff6bcb; color: #5d7aef; }
.bg-11 { background-color: #e0ff6b; color: #ff6b7c; }
.bg-12 { background-color: #a06bff; color: #6bffcc; }
.bg-13 { background-color: #6bffd7; color: #f7b52d; }
.bg-14 { background-color: #ff6b7c; color: #5d7aef; }
.bg-15 { background-color: #d76bff; color: #f7d02d; }
.bg-16 { background-color: #ffbb6b; color: #fff; }
.bg-17 { background-color: #f4ff6b; color: #ff6bcb; }
.bg-18 { background-color: #6b85ff; color: #ff6b6b; }
.bg-19 { background-color: #6bffa0; color: #d76bff; }
.bg-20 { background-color: #ffdb6b; color: #fff; }
.bg-21 { background-color: #e6ff6b; color: #ff6b7c; }
.bg-22 { background-color: #786bff; color: #fff; }
.bg-23 { background-color: #6be7ff; color: #ff6b6b; }


.genre a:nth-child(3n+1) {
    background-color: #ef5d5d;
}

.genre a:nth-child(3n+2) {
    background-color: #5defb2 !important; /* Ubah warna sesuai kebutuhan */
}

.genre a:nth-child(3n+3) {
    background-color: #5d7aef; /* Ubah warna sesuai kebutuhan */
}

.rows {
    color: rgb(118, 126, 134);
    font-weight: 600;
}

.sub-row {
    color: rgb(170, 194, 214);
    margin-top: 8px;
    font-size: 15px;
}

.filter {
    margin: 40px 0;
    margin-bottom: 25px;
}

.name {
    color: rgb(81,97,112);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
}

.icon {
    color: rgb(201,215,227);
    font-size: 1.3rem;
    height: 1.6rem;
}

.search-page {
    height: 70vh;
}

.search-warp {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 13px auto 13px;
    padding: 11px 16px;
    padding-left: 13px;
}

.search-input {
    background: 0 0;
    border: none;
    color: rgb(116,136,153);
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
}

.search-submit {
    display: none;
}


.footer {
    color: #fff;
    background-color: #11161d;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrap {
    position: relative;
}

.banner {
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: -58px;
}

.shadow {
    background: linear-gradient(180deg,rgba(6,13,34,0) 10%,rgba(6,13,34,.6));
    height: 400px;
}

.header {
    background: rgb(250,250,250);
}

.header-data {
    min-height: 250px;
    display: grid;
    grid-template-columns: 215px auto;
    margin: 0 20rem 0 20rem;
    min-width: 320px;
    grid-column-gap: 20px;
}

.cover-wrap {
    margin-top: -125px
}

.cover-wrap-inner {
    position: static;
}

.cover-wrap-inner img {
    background-color: rgba(212,230,245,.5);
    border-radius: 10px;
    box-shadow: 0 0 29px rgba(49,54,68,.25);
    margin-top: 15px;
    width: 100%;
    vertical-align: text-top;
}

.action {
    display: grid;
    grid-template-columns: auto 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-gap: 15px;
}

.action .list {
    align-items: center;
    background: rgb(61,180,242);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    line-height: 1rem;
}

.action .favourit {
    align-items: center;
    background: rgb(236,41,75);
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    padding: 0 10px;
}

.content-anime {
    display: inline-grid;
    grid-template-rows: min-content min-content auto;
    padding-top: 25px;
}

.content h1 {
    color: rgb(92,114,138);
}

.description {
    color: rgb(92,114,138);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    padding: 15px 0;
}

.nav-content {
    align-self: end;
    display: flex;
    justify-content: center;
    gap: 50px;
    justify-self: center;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 300;
}

.nav-content a {
    font-size: 0.9em;
    color: black;
}

.tabcontent {
    display: none;
    border-top: none;
}

.main-content {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 250px auto;
    font-size: 0.8rem;
}

.alternate {
    background-color: white;
    padding: 20px;
    list-style-type: none;
    line-height: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    /*box-shadow: 0 14px 30px rgba(103,132,187,.15),0 4px 4px rgba(103,132,187,.05);*/
}

.alternate li a {
    display: block;
}

.ranking {
    display: flex;
    align-items: center;
    height: 40px;
}

.popularity {
    display: flex;
    align-items: center;
    height: 40px;
}

.grid-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.media-relation-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    grid-gap: 30px;
    margin-right: 10px;
}

.media-relation-card h3 {
    font-weight: 300;
    font-size: 0.8rem;
}

.media-character {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-character img {
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
}

.voice-actor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voice-actor img {
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}